.toprow{
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-decoration: none;
    flex-direction: row-reverse;
    background-color: #262336;
    color: #555975;
}
ul{
    list-style: none;
    
}
li{
    display: inline;
    padding: 6px;
}


.toopul{
    list-style: none;
}
.righttop{
    display: inline;

}
.topnumber img{
    border-radius: 20%;
}
.lefttop{
    display: flex;
}
.leftopheader{
    display: flex;
}
.toplefairbox{
    font-size: xx-large;

}
.mainparagraph{
    text-align: center;
    color: #555975;
}
.maincontainer{
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #262336;
    padding: 40px 100px 90px 100px;
}
.mainbutton{
    border-radius: 4px;
    background-color: gray;
    color: white;
    padding: .5%;
    font-size: sMALLER;
    border: none;
    margin-trim: 2px;
}
.mainforce{
    font-size: xx-large;
    font-weight: bolder;
    color: white;
    margin: -17px;
}
.topright ul{
    list-style: none;
}
.maintop{
    font-size: large;
    margin: 10px;
}
.mainbottom{
    font-size: x-large;
    margin: 14px;
}
.midsection{
    background-color: #f29b66;
    display: flex;
}
.midsection img{
    border-radius: 60%;
    
}
.gearclass{
    line-height: 14px;
    height: 12px;
    text-align: center;
    margin-bottom: 26px;
    margin-top: 4px;
    padding: 20px 20px 10px 10px;
}
.world{
    line-height: 14px;
    text-align: center;
    margin-bottom: 26px;
    margin-top: 4px;
    padding: 20px 20px 10px 10px;

}
.cloudclass{
    line-height: 14px;
    text-align: center;
    margin-bottom: 26px;
    margin-top: 4px;
    padding: 20px 20px 10px 10px;
    
}
.phoneclass{
    line-height: 14px;
    margin-top: 4px;
    margin-bottom: 26px;
    text-align: center;
    padding: 20px 20px 10px 10px;
}
.gearpara{
    margin: 0;
}
.cloudpara{
    margin: 0;
}
.worldpara{
    margin: 0;
}
.phonepara{
    margin: 0;
}
h4{
    margin: -1px;
    font-size: smaller;
    color: gray;
}
h3{
    margin: 0;
    color: black;
}
table{
    border: 1px solid;
    border-collapse: collapse;
    margin: 20px auto;
    vertical-align: center;   
}
td{
    vertical-align: bottom;
    text-align: center;
    border: 1.5px solid;
}
th{
    border: 1.5px solid;
    padding: 8px;
    text-align: center;
}
.threesection{
    display: flex;
    flex-direction: row;
    background-color: #e8e8ea;
    

}
.onethreesection{
    height: 14px;
    flex: 1;
}
.twothreesection{
    height: 14px;
    flex: 1;
}
.threethreesection{
    height: 14px;
    flex: 1;
}
.fourthreesection{
    
    flex: 1;
}

.columaabutton{
    color: white;
    background-color: #ed7443;
    border-radius: 4px;
    border: none;
}
.trfivecoluma{
    margin: 0;
    padding: 0;
    background-color:white;
}
.trthrcoluma{
    background-color:white;
    margin: 0;
    padding: 0;
    text-align: center;
}
.columna{
    height: 14px;
    background-color: #6f6c89;
}
.trcoluma{
    background-color: #6f6c89;.
    height: 14px;
}
.tronecoluma{
    background-color: white;
    color: gray;
    padding: 10px 10px 10px 10px;
    font-size: small;
    height: 10px;

}
.columnb{
    height: 14px;
    background-color: #6f6c89;
}
.trbcolumb{
    height: 14px;
    background-color: #6f6c89;
}
.tronecolumb{
    background-color: white;
    color: grey;
}
.tronecolumb{
    background-color: white;
    color: grey;
}
.trthrcolumb{
    background-color: white;
    color: grey;
}
.trfivecolumb{
    background-color: white;
    color: grey;
}
.tronecolumc{
    background-color: white;
    color: grey;
}
.trthrcolumc{
    background-color: white;
    color: grey;
}
.trfivecolumc{
    background-color: white;
    color: grey;
}
.tronecolumd{
    color: grey;
    background-color: white;
}
.trthrcolumd{
    background-color: white;
    color: grey;
}
.trfivecolumd{
    color: grey;
    background-color: white;
}
.columnc{
    height: 14px;
    background-color: #6f6c89;
}
.trbcolumd{
    height: 14px;
    background-color: #6f6c89;
}
.trfourcolumd{
    color: grey;
}
.trthrcolumd{
    color: grey;
}
.trfourcolumc{
    color: grey;
}
.trtwocolumc{
    color: grey;
}
.trfourcolumb{
    color: grey;
}
.twocolumb{
    color: grey;
}
.trfourcoluma{
    color: grey;
}
.trtwocoluma{
    color: grey;
}
.trthrcoluma{
    color: grey;
}
.trtwocolumd{
    color: grey;
}
.columnd{
    height: 14px;
    background-color: #6f6c89;
}
.trbcolumc{
    height: 14px;
    background-color: #6f6c89;
}
.columcabutton{
    color: white;
    background-color: #ed7443;
    border-radius: 4px;
    border: none;
}
.columbabutton{
    color: white;
    background-color: #ed7443;
    border-radius: 4px;
    border: none;
}
.columdabutton{
    color: white;
    background-color: #ed7443;
    border-radius: 4px;
    border: none;
}
.fourul{
    display: flex;
    flex-direction: column;
    color: white;
}
.fourula{
    display: flex;
    flex-direction: column;
    color: white;
}
.fourulb{
    display: flex;
    flex-direction: column;
    color: white;
}
.fourulc{
    display: flex;
    flex-direction: column;
    color: white;
}

.foursection{
    display: flex;
    flex-direction: row;
    background-color: #262336;
}
.fourdivone{
    flex: 1;
    padding: 4px 50px 35px 25px;
    color: grey;
}
.fourdivtwo{
    flex: 1;
    padding: 4px 50px 35px 25px;
    color: grey;
}
.fourdivthree{
    flex: 1;
    padding: 4px 50px 35px 25px;
    color: grey;
}
.fourdivfour{
    flex: 1;
    padding: 4px 50px 35px 25px;
    color: grey;
}
.fourbutton{
    color: white;
    background-color: #ed7443;
    border: none;
    border-radius: 2px;
    font-size: x-small;
    padding: 4px 16px 4px 16px;
}
.fourbuttona{
    color: white;
    background-color: #ed7443;
    border: none;
    border-radius: 2px;
    font-size: x-small;
    padding: 4px 16px 4px 16px;
}
.fourbuttonb{
    color: white;
    background-color: #ed7443;
    border: none;
    border-radius: 2px;
    font-size: x-small;
    padding: 4px 16px 4px 16px;
}
.fourbuttonc{
    color: white;
    background-color: #ed7443;
    border: none;
    border-radius: 2px;
    font-size: x-small;
    padding: 4px 16px 4px 16px;
}
.footersection{
    background-color: #1a1921;
}